@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400&family=Geist:wght@300;400;500&family=Instrument+Serif:ital@0;1&display=swap");

@import "tailwindcss";

:root{
  --color-bg: #0a0a0a;
  --color-bg2: #0f0f0f;
  --color-bg3: #161616;

  --font-serif: "Instrument Serif", serif;
  --font-sans: "Geist", sans-serif;
  --font-mono: "DM Mono", monospace;
}

html {
  scroll-behavior: auto;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  background: #0a0a0a;
  color: #efefef;
  overflow-x: hidden;
  cursor: none;
}

/* Hide default cursor on interactive elements */
a,
button,
[role="button"],
.cursor-hover {
  cursor: none;
}